body {
  color: #333;
  font-family: Arial, sans-serif;
  background-color: #f0f0f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  max-width: 600px;
  background: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input {
  flex: 1;
  padding: 0.75rem;
  font-size: 1rem;
  color: #333;
  border: 2px solid #642986;
  border-radius: 6px;
  transition: border-color 0.3s;
  background-color: #e8d7ff;
}

input:focus {
  border-color: #8c00ff;
  outline: none;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #470d8a;
  color: rgb(243, 232, 255);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

button:hover {
  background-color: #992af5;
}

button:active {
  transform: scale(0.95);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color:#333;
  background: #e8d7ff;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}



.completed {
  text-decoration: line-through;
  color: #888;
}

.task-actions {
  display: flex;
  gap: 0.5rem;
}

.task-actions button {
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 6px;
}
